<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <img
            src="https://img.freepik.com/premium-vector/medical-sign-star-life-icon-hospital-ambulance-star-glyph-style-pictogram_599062-3817.jpg"
            alt=""
            class="h-25 w-25"
          />
          <div class="">
            <h3>Hospitals</h3>
            <p>234-12451</p>
          </div>
          <div>
            <iframe
              src="https://www.google.com/maps/d/embed?mid=1hMrTFVFopzqX1W0gx3HReITBtdm0H_-8&ehbc=2E312F"
              width="540"
              height="480"
            ></iframe>
          </div>
        </div>
        <div>
          <div class="d-flex align-items-center justify-content-between">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBjiD4wgBqhwm3GnvnHVvF5cRU35taPrqS6Q&s"
              alt=""
              class="h-25 w-25"
            />
            <div class="">
              <h3>Police</h3>
              <p>255-9992</p>
            </div>
            <div>
              <iframe
                src="https://www.google.com/maps/d/embed?mid=1yJVcQxtXWzNTuT3jawkGj3uColPglppX&ehbc=2E312F"
                width="540"
                height="480"
              ></iframe>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex align-items-center justify-content-between">
            <img
              src="
              https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0yAHLM0Si5UvtWxg5jiSlnzdYSkJOkqlJ2w&s"
              alt=""
              class="h-25 w-25"
            />
            <div class="">
              <h3>Barangay Halls</h3>
              <p>288-5222</p>
            </div>
            <div>
              <iframe
                src="https://www.google.com/maps/d/embed?mid=1h8jNwasmGVqDFG85md6_CEmYXroG9bvm&ehbc=2E312F"
                width="540"
                height="480"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Notifications Places
                <p class="category">Click to view notifications</p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('top', 'left')"
                  >
                    Top Left
                  </button>
                </div>
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('top', 'center')"
                  >
                    Top Center
                  </button>
                </div>
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('top', 'right')"
                  >
                    Top Right
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('bottom', 'left')"
                  >
                    Bottom Left
                  </button>
                </div>
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('bottom', 'center')"
                  >
                    Bottom Center
                  </button>
                </div>
                <div class="col-md-4">
                  <button
                    class="btn btn-primary btn-block"
                    (click)="showNotification('bottom', 'right')"
                  >
                    Bottom Right
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
