<style>
  .container {
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
  }

  h5 {
    color: #2c2c2c;
    font-weight: bold;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
  }

  p {
    color: lightsteelblue;
    font-size: 0.9rem;
  }

  button {
    color: white;
    background-color: green;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 8px;
  }
</style>
<div class="container">
  <div>
    <h5>How to catch a criminal in 5 minutes?</h5>
    <p>Posted on 12/07/2020</p>
  </div>
  <div>
    <button>View</button>
  </div>
</div>
<div class="container">
  <div>
    <h5>
      What are the best practices for implementing community policing in urban
      areas?
    </h5>
    <p>Posted on 2/07/2024</p>
  </div>
  <div>
    <button>View</button>
  </div>
</div>

<div class="container">
  <div>
    <h5>
      How do different departments structure their use of force policies, and
      what training is provided to ensure compliance?
    </h5>
    <p>Posted on 11/04/2020</p>
  </div>
  <div>
    <button>View</button>
  </div>
</div>

<div class="container">
  <div>
    <h5>
      What mental health resources and support systems are available for
      officers dealing with job-related stress?
    </h5>
    <p>Posted on 12/07/2024</p>
  </div>
  <div>
    <button>View</button>
  </div>
</div>
