<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBjiD4wgBqhwm3GnvnHVvF5cRU35taPrqS6Q&s"
        />
      </div>
    </a>
    <a href="#" class="simple-text logo-normal"> Cebu Police </a>
  </div>
  <ul class="nav">
    <li
      *ngFor="let menuItem of menuItems"
      routerLinkActive="active"
      class="{{ menuItem.class }}"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
