<div style="display: flex; gap: 1rem">
  <div>
    <a
      href="https://www.skylinewebcams.com/en/webcam/philippines/davao/davao-del-sur/boy-sayong-store.html"
      target="_blank"
      ><img
        src="https://embed.skylinewebcams.com/img/3718.jpg"
        alt="【LIVE】 Agdao - Boy Sayong Store | SkylineWebcams"
    /></a>
    <h5>Colon, Cebu City</h5>
  </div>
  <div>
    <a
      href="https://www.skylinewebcams.com/en/webcam/philippines/davao/davao-del-sur/davao-city-agdao.html"
      target="_blank"
      ><img
        src="https://embed.skylinewebcams.com/img/3623.jpg"
        alt="【LIVE】 Davao City - Agdao | SkylineWebcams"
    /></a>
    <h5>Opra, Cebu City</h5>
  </div>
  <div>
    <a
      href="https://www.skylinewebcams.com/en/webcam/philippines/davao/davao-del-sur/davao-market.html"
      target="_blank"
      ><img
        src="https://embed.skylinewebcams.com/img/3862.jpg"
        alt="【LIVE】 Agdao - Public Market | SkylineWebcams"
    /></a>
    <h5>Banawa, Cebu City</h5>
  </div>
  <div>
    <a
      href="https://www.skylinewebcams.com/en/webcam/philippines/davao/davao-del-sur/davao-city.html"
      target="_blank"
      ><img
        src="https://embed.skylinewebcams.com/img/2820.jpg"
        alt="【LIVE】 Davao City - Phillipines | SkylineWebcams"
    /></a>
    <h5>Guadalupe, Cebu City</h5>
  </div>
</div>
